body {
    background-color: #d8dae7;
    padding-top: 50px;
}

.centerObject {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#comments li {
    width: 100%;
}

textarea {
    width: 50%;
    resize: vertical; /*will prevent resizing horizontally*/
}
