body { 
    background-color: #d8dae7;
    padding-top: 50px; 
}

#content {
    background-color: #ffffff;
    padding: 25px;
}

    #content h1 {
    
    }

.centerObject {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.addFeedback {
    width: 75%;
}

