body { 
    background-color: #d8dae7;
    padding-top: 50px; 
}

.centerObject {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

table {
    border-collapse:collapse;
    width: 100%;
}

tr th {
    background-color: #313131;
    color:white;
}

tr > th {
    width: 25%;
}

tr > th + th {
    width: 15%;
}

tr > th + th + th {
    width: 35%;
}

tr > th + th + th + th{
    width: 10%;
}


tr > th + th + th + th + th{
    width: 15%;
}